<%- include('header') -%>

<h1>Hello, i'm Vaibhav.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure consectetur aliquid maiores vitae, est impedit inventore tenetur praesentium nulla iusto dolore magnam! Omnis et ut quis. Libero cum ipsum perferendis maxime suscipit.</p>

<%- include('footer') -%>